In [4]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly as pt
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1mZ0mVdp5KGXcoJExtsAaaQDPaOm3XTOf")

In [6]:
df.head()

,Gender,Teacher,Period,Student ID,Gender.1,Ethnicity,Economic,LEP,SCICOUR,CTE,...,TOSLS8,TOSLS9,TOSLSTOT,BRAINS1,BRAINS2,BRAINS3,BRAINS4,BRAINS5,BRAINSTOT,SORT
0,M,Lewis,4.0,43954,1,0,0.0,0.0,1.5,0.0,...,3.0,1.0,22.0,18.0,12.0,26.0,17.0,6.0,79.0,0.0
1,F,Howell,6.0,47436,0,0,0.0,0.0,3.5,0.0,...,0.0,1.0,11.0,16.0,10.0,23.0,6.0,4.0,59.0,0.0
2,m,Lewis,4.0,59755,0,0,0.0,0.0,1.5,1.5,...,1.0,0.0,16.0,15.0,12.0,24.0,18.0,8.0,77.0,0.0
3,M,Marshall,5.0,35449,1,1,0.0,0.0,3.5,1.5,...,0.0,1.0,15.0,17.0,18.0,30.0,16.0,9.0,90.0,0.0
4,M,Lewis,3.0,43956,1,1,0.0,0.0,1.5,0.5,...,0.0,0.0,12.0,21.0,10.0,23.0,23.0,10.0,87.0,0.0

In [ ]:
#df=df.drop(columns=['Gender', 'Teacher', 'Period', 'SORT', 'Student ID'])

In [7]:
df.describe

<bound method NDFrame.describe of      Gender   Teacher  Period Student ID Gender.1 Ethnicity  Economic  LEP  \
0         M     Lewis     4.0      43954        1         0       0.0  0.0
1         F    Howell     6.0      47436        0         0       0.0  0.0
2         m     Lewis     4.0      59755        0         0       0.0  0.0
3         M  Marshall     5.0      35449        1         1       0.0  0.0
4         M     Lewis     3.0      43956        1         1       0.0  0.0
...     ...       ...     ...        ...      ...       ...       ...  ...
1290    NaN  Marshall     NaN        NaN      NaN       NaN       NaN  NaN
1291    NaN    Nyholm     NaN        NaN      NaN       NaN       NaN  NaN
1292    NaN   Robissa     NaN        NaN      NaN       NaN       NaN  NaN
1293    NaN     Smith     NaN        NaN      NaN       NaN       NaN  NaN
1294    NaN     Stapp     NaN        NaN      NaN       NaN       NaN  NaN

     SCICOUR  CTE  ... TOSLS8  TOSLS9  TOSLSTOT  BRAINS1  BRAINS2  BRAINS3  \
0        1.5  0.0  ...    3.0     1.0      22.0     18.0     12.0     26.0
1        3.5  0.0  ...    0.0     1.0      11.0     16.0     10.0     23.0
2        1.5  1.5  ...    1.0     0.0      16.0     15.0     12.0     24.0
3        3.5  1.5  ...    0.0     1.0      15.0     17.0     18.0     30.0
4        1.5  0.5  ...    0.0     0.0      12.0     21.0     10.0     23.0
...      ...  ...  ...    ...     ...       ...      ...      ...      ...
1290     NaN  NaN  ...    NaN     NaN       NaN      NaN      NaN      NaN
1291     NaN  NaN  ...    NaN     NaN       NaN      NaN      NaN      NaN
1292     NaN  NaN  ...    NaN     NaN       NaN      NaN      NaN      NaN
1293     NaN  NaN  ...    NaN     NaN       NaN      NaN      NaN      NaN
1294     NaN  NaN  ...    NaN     NaN       NaN      NaN      NaN      NaN

      BRAINS4  BRAINS5  BRAINSTOT  SORT
0        17.0      6.0       79.0   0.0
1         6.0      4.0       59.0   0.0
2        18.0      8.0       77.0   0.0
3        16.0      9.0       90.0   0.0
4        23.0     10.0       87.0   0.0
...       ...      ...        ...   ...
1290      NaN      NaN        NaN   NaN
1291      NaN      NaN        NaN   NaN
1292      NaN      NaN        NaN   NaN
1293      NaN      NaN        NaN   NaN
1294      NaN      NaN        NaN   NaN

[1295 rows x 32 columns]>

In [ ]:
"""import xgboost as xgb
from sklearn.model_selection import train_test_split
X=df.drop(columns=['ELA', 'Gender', 'Teacher', 'Period', 'Student ID', 'Sort'])
y=df['ELA']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
regressor = xgb.XGBRegressor(n_estimators=100,reg_lambda=1,gamma=0,max_depth=3)
regressor.fit(X_train, y_train)
y_preds=regressor.predict(X_test)
RMSE = np.sqrt(mean_squared_error(y_test, y_preds))
print("The RMSE is" + RMSE)"""

ValueError: ignored